<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Register</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
    <section layout:fragment="body">
        <div class="">
            <div class="">
                <div th:if="${param.fail}" class="">
                    Username or email already exists</div>
                <div class="">
                    <form method="post" role="form"
                      th:action="@{/register/save}" th:object="${user}">
                        <div class="">
                            <label>Username</label>
                            <input
                                    type="text"
                                    class=""
                                    placeholder="Username"
                                    th:field="*{username}">
                        </div>
                        <p th:if="${#fields.hasErrors('username')}" class=""></p>
                        <div class="">
                            <label>Email</label>
                            <input
                                    type="text"
                                    class=""
                                    placeholder="Email"
                                    th:field="*{email}">
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" class=""></p>
                        <div class="">
                            <label>Password</label>
                            <input
                                    type="password"
                                    class=""
                                    placeholder="Password"
                                    th:field="*{password}">
                        </div>
                        <p th:if="${#fields.hasErrors('password')}" class=""></p>
                        <button th:href="@{/register}" type="submit" class="">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</html>

